.App {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top right, #DDD5F8, #f7dbe7, #fff9fb, #ffffff);

  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Source Sans Pro', sans-serif;
}


.app-wrapper {
  width: 40%;
}

input[type=text] {
  padding: 15px 20px;
  min-width: 100%;
  background: rgba(255, 255, 255, 0.6);
  border: none;
  outline: none;
  color: #666666;
  border-radius: 10px;
}

input[type=text]::placeholder {
  color: #666666;
}

.url-data {
  margin-top: 20px;
  text-align: center;
}

.url-data a {
  text-decoration: none;
  display: block;
  margin: 10px 0;
  font-size: 1rem;
  color: #222222;
}

h1 {
  font-size: 1.4rem;
  margin-bottom: 10px;
}